

.title {
    margin-left:     20px;
    padding:         10px;
    font-family:     'Courier New', Courier, monospace;
}

.calculator-wrapper {
    margin-left:    20px;
    padding:        10px;
    box-sizing:     border-box;
    font-size:      100%;
}

.output {
    margin-bottom:  10px;
}

.input {
    margin-bottom:  20px;
}

.num-buttons {
    background:   white;
}

input[type="button"] {
    width:          90px;
    padding:        10px;
    border-radius:  2px;
}

input[type="button"]:active {
    background:     grey;
}

input[type="text"] {
    width: 350px;
}